@import url("./Vars.css");

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error>h1{
    font-size: 5rem;
}

.error>p{
    color: var(--nav-txt-color);
    font-weight: 600;
}