
:root{
  --nav-bg-color: #111111;
  --nav-txt-color:#7C8488;
  /* --nav-bg-color: white;
  --nav-txt-color:black; */
  --wow-color:#CF0A0A;

  --work-work-bg:#2E3133;
  --work-work-h-color:#FCFAF4;
  --work-work-p-color:#F0F0F0;
}