@import './Vars.css';

.work{
    height: 100vh;
}

.work-container{
    height: 100%;
}

.work-heading{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-heading>h1{
    font-size: 18rem;

    transition: font-size .2s;
}

.work-heading>h1>span{
    transition: color .2s, -webkit-text-stroke-width .3s, -webkit-text-stroke-color .3s;
    
}

.hollow-span{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--wow-color);
    color: var(--nav-bg-color);
}

.work-heading>p{
    margin-top: 1rem;
    font-size: 3rem;
    color: var(--nav-txt-color);
    width: 100%;
    font-weight: 600;
    border-top: 2px solid var(--nav-txt-color);
    border-bottom: 2px solid var(--nav-txt-color);
    padding: .5rem 0;

    display: flex;
    justify-content: center;

    transition: font-size .2s;
}

.work-heading>i{
    position: relative;
    top:8rem;
    color: var(--wow-color);
    font-size: 4rem;
}

.work-heading>i:nth-child(4){
    top: 6rem;
    font-size: 3.5rem;
}

.work-bottom{
    height: auto;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    transition: width .2s;
}

@media only screen and (min-width:1751px){
    .work-bottom{
        width: 70vw;
    }
}

@media only screen and (min-width:1201px) and (max-width:1750.99px){
    .work-bottom{
        width: 80vw;
    }

    .work-heading>p{
        font-size: 2rem;
    }   
}
  
@media only screen and (min-width:1025px)and (max-width:1200.99px){
    .work-bottom{
        width: 94vw;
    }

    .work-heading>h1{
        font-size: 16rem;
    }

    .work-heading>p{
        font-size: 1.6rem;
    }   
}
  
@media only screen and (min-width:769px)and (max-width: 1024.99px){
    .work-bottom{
        width: 94vw;
    }

    .work-heading>h1{
        font-size: 14rem;
    }

    .work-heading>p{
        font-size: 1.2rem;
    } 
}
  
@media only screen and (min-width:481px)and (max-width: 768.99px){
    .work-bottom{
        width: 96vw;
    }

    .work-heading>h1{
        font-size: 10rem;
    }

    .work-heading>p{
        font-size: .8rem;
    }

    .work-heading>i{
        font-size: 3rem;
    }
    
    .work-heading>i:nth-child(4){
        top: 6.5rem;
        font-size: 2.5rem;
    }
}
  
@media only screen and (min-width:320px)and (max-width: 480.99px){
    .work-bottom{
        width: 96vw;
    }

    .work-heading>h1{
        font-size: 7rem;
    }

    .work-heading>p{
        font-size: .6rem;
    }

    .work-heading>i{
        font-size: 3rem;
    }
    
    .work-heading>i:nth-child(3){
        top: 5rem;
    }

    .work-heading>i:nth-child(4){
        top: 3.5rem;
        font-size: 2.5rem;
    }
}

